*,
html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    background-color: grey;
    color: black;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 70%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}

.sekcjaflex {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.tabdiv {
    display: flex;
    flex: 100%;
    margin-top: 2%;
    background-color: lightgreen;
    border-radius: 2.5%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}

table {
    background-color: lavender;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

td,
th {
    width: 50px;
    text-align: center;
    padding: 10px;
    border: 0.5px dotted;
}

footer {
    background-color: grey;
    text-align: center;
}

.picture {
    border-radius: 5%;
    box-shadow: 10px 10px 5px black;
    max-width: 500px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pic {
    background-color: lightgoldenrodyellow;
    border-radius: 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
}

.pic2 {
    background-color: lightgreen;
}

.link {
    color: wheat;
}

.lnum,
.lnonum {
    max-width: 43%;
    flex: 50%;
    background-color: lightgreen;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    padding-top: 5%;
    display: block;
    text-align: center;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkgrey;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}

hr {
    width: 70%;
    margin-top: 5%;
}

.container h1 {
    padding-bottom: 2.5%;
}